.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex: 1;
  gap: 8px;
  padding: 20px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 3px;
  font-size: 20px;

  &:hover {
    box-shadow: inset 0 0 15px 2px rgba(255 255 255 / 85%);
  }
  
  &:active {
    box-shadow: inset 0 0 25px 4px rgba(255 255 255 / 80%);
  }
}

.description {
  font-size: 1.2rem;
  text-align: center;
}

.teamWrap {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0;
  gap: 40px;
  text-align: center;
}

.developerTitle {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.roleTitle {
  font-weight: 500;
  margin-top: 10px;
}

.role {
  text-align: center;
}

.imgDeveloper {
  width: 220px;
}