@mixin droppedArea {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .centering {
    display: flex;
    justify-content: center;
    position: relative;
    overflow-y: hidden;
    flex-grow: 1;
  }

  .controlPanel {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }

  .columns {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px;
    overflow: auto hidden;
    width: 100%;
  }
}

.drag,
.over {
  @include droppedArea();
}
