.card {

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 20px 0 rgba(255, 255, 255, 0.75);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .action {
    padding: 15px;
    font-size: 15px;
    justify-content: space-between;
  }

  .iconButton {
    font-size: 30px;
  }

  .wrapList {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    overflow-x: hidden;
    height: 65px;
    position: relative;
  }

  .membersList {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    height: 100%;
  }

  .memberItem {
    font-size: 15px;
    white-space: nowrap;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgb(0 0 0 / 4%);
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    border-radius: .4rem;
    width: unset;
  }
}

